* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right,#d3e3eb,#b6e0eb);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #85cbcc;
    color: white;
    font-family: Arial, sans-serif;
}
.logo img {
    width: 50px; 
    height: auto;
}
.logo{
    font-size:24px;
    display: flex;
    align-items: center;
    font-weight:bold;
}

.nav ul {
    list-style:none;
    display:flex;

}
.nav ul li {
    display:inline-block;
    position:relative;
}

.nav ul li a {
    display:block;
    padding:20px 25px;
    color:#FFF;
    text-decoration:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
}
.nav ul li ul.dropdown li{
    display:block;
}
.nav ul li ul.dropdown{
    width:150px;
    background-color: #85cbcc;
    position:absolute;
    z-index:999;
    display:none;
    left:0;
}
.nav ul li a:hover{
    background-color:#A8DEE0;
}
.nav ul li:hover ul.dropdown{
    display:block;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    background-color: #85cbcc;
    color: white;
    font-family: Arial, sans-serif;
}
.content{
	
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin: 20px 50px;
}

.content img{
	width:300px;
	height:400px;
	object-fit: cover;
}

.form-container{
	flex:1;
	width:300px;
	height:400px;
	padding:20px;
    background-color: #FFF;
	box-shadow:0 0 10px rgba(131,171,154,0.5);
	margin-left:10px;
}
.form-container form input,
.form-container form textarea{
	width:100%;
	padding:10px;
	margin-bottom:10px;
	border:1px solid #ccc;
	border-radius:4px;
}

.form-container form button{
	width:100%;
	padding:10px;
	background-color:#45a6bc;
	color:white;
	border:none;
	border-radius:4px;
	cursor:pointer;
}
.form-container form button:hover {
    background-color: #7aa2b0;
  }
h1{
    text-align: center;
    font-size: 50px;
}
.app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #85cbcc;
    color: white;
}
.insta,.face,.twi{
    font-size:18px;
    display: flex;
    align-items: center;
    font-weight:bold;
    margin: 0 40px;
}
.insta img,.face img,.twi img {
    width: 50px; 
    height: auto;
}