body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right,#d3e3eb,#b6e0eb);
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 10px;
    background-color: #85cbcc;
    color: white;
    font-family: Arial, sans-serif;

}
.logo img {
    width: 50px; 
    height: auto;
}
.logo{
    font-size:24px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-weight:bold;
}

.nav ul {
    list-style:none;
    display:flex;
    margin: 10px; 
    padding: 0;

}
.nav ul li {
    display:inline-block;
    position:relative;
}

.nav ul li a {
    display:block;
    padding:20px 25px;
    color:#FFF;
    text-decoration:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    white-space: nowrap;
}
.nav ul li ul.dropdown li{
    display:block;
}
.nav ul li ul.dropdown{
    width:150px;
    background-color: #85cbcc;
    position:absolute;
    z-index:999;
    display:none;
    left:0;
    top: 100%; 
    margin: 0; 
    padding: 0; 
}
.nav ul li a:hover{
    background-color:#A8DEE0;
}
.nav ul li:hover ul.dropdown{
    display:block;
}

.main-content {
    flex: 1; 
    padding: 0 20px; 
}

input[type="text"],
input[type="date"] {
    width:250px;
    height: 35px;
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#eventList{
    max-width: 1100px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.event{
    padding:15px;
    box-shadow: 0 8px 10px rgba(47, 35, 94, 0.15);
    border-radius: 10px;
    margin: 20px;
    background-color: #eef0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event img{
    width: 80%;
    height: 150px;
    border-radius: 5px;
    margin: 0 auto;
}

.event-title{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.event-description{
    font-size: 14px;
    color:rgb(91, 85, 85);
    flex-grow: 1;
    margin-bottom: 10px;
}

.know-more{
    align-self :center;
    padding: 8px 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.know-more:hover{
    background-color: #0056b3 ;
    transform: scale(1.1);
}

.know-more:active{
    background-color: gray;
}

.hidden{
    display:none;
}

.past{
    opacity: 0.7;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    background-color: #85cbcc;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 50px;
    height: 18px;
}
