* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right,#d3e3eb,#b6e0eb);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #85cbcc;
    color: white;
    font-family: Arial, sans-serif;
}
.logo img {
    width: 50px; 
    height: auto;
}
.logo{
    font-size:24px;
    display: flex;
    align-items: center;
    font-weight:bold;
}

.nav ul {
    list-style:none;
    display:flex;

}
.nav ul li {
    display:inline-block;
    position:relative;
}

.nav ul li a {
    display:block;
    padding:20px 25px;
    color:#FFF;
    text-decoration:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
}
.nav ul li ul.dropdown li{
    display:block;
}
.nav ul li ul.dropdown{
    width:150px;
    background-color: #85cbcc;
    position:absolute;
    z-index:999;
    display:none;
    left:0;
}
.nav ul li a:hover{
    background-color:#A8DEE0;
}
.nav ul li:hover ul.dropdown{
    display:block;
}
.slider-wrapper{
    position:relative;
    width:100%;
    height:550px;
    margin:0 auto;
    overflow-x:auto;
    overflow-y:hidden;
}
.slider{
    display:flex;
    aspect-ratio:16/9;
    overflow-x:auto;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    box-shadow:0 1.5rem 3rem -0.75rem hsla(0,0,0,0.25);
    -ms-overflow-style: none;
    scrollbar-width:none;
}

.slider a{
    display:contents;
}
.slider img{
    flex:1 0 100%;
    scroll-snap-align:start;
    object-fit: cover;

}

.slider-nav{
    display:flex;
    column-gap:1rem;
    position:absolute;
    bottom:1.25rem;
    left:50%;
    transform:translateX(-50%);
    z-index: index 1;
}

.slider-nav a{
    width:0.5rem;
    height:0.5rem;
    border-radius:50%;
    background-color:#FFF;
    opacity:0.75;
    transition:opacity ease 250ms;
}
.slider-nav a:hover{
    opacity:1;
}

.about{
    text-align:center;
    background-color: rgba(167, 214, 118,0.5);
    border-radius: 15px;
    box-shadow:5px 5px 15px rgba(0, 0, 0,0.5);
}
.explore{
    text-align:center;
    background-color: rgba(251, 199, 141,0.5);
    border-radius: 15px;
    box-shadow:5px 5px 15px rgba(0, 0, 0,0.5);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    background-color: #85cbcc;
    color: white;
    font-family: Arial, sans-serif;
}
.button{
    text-align:center;
}
.btn{
    display:inline-block;
	padding:15px 25px;
	font-size:20px;
	color:blue;
	background-color:#CCCCFF;
	text-decoration:none;
	border-radius:5px;
	transition:background-color 0.3s ease;
	margin:10px;
}
.btn:hover{
    background-color:#FFCCCC;
    }
    